
/* Generic/global attribute section*/ 
* { 
  border: 2px solid orangered; 
}
body {
  display:flex; 
  flex-direction: column;
}
button {
  background-color: #3882f6;
  color: white; 
  border-radius: 15px;
}
h1 { 
  align-self: center;
}
/* Class section*/

/* Section 1*/ 
  
.section1 { 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
    }

/* Header - right link and left logo */ 

    .header {
      display: flex;
      justify-content: space-around;
      background-color: #1f2937;
      }
      .logo {
        padding: 15px; 
        background-color: #1f2937;
        font-size: 24px;
        color: #f9faf8;
      }

      .hyperlinks-container {
        display: flex;
        flex-flow: row wrap; 
        align-items: flex-start;
        background-color: #1f2937;
        gap: 5px;
        border: 10px;
      }

        .link {
          width: 88px;
          background-color: #1f2937;
          padding: 15px;
          color: white;
        }

/* Hero Section - hero text and right logo */ 

   .hero-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #1f2937;
        color: white;
        }

        .hero-picture {
         
        }

        .hero-text { 
            font-weight: extra-bold;
            color: #f9faf8;
           
        }


/* Section 2 - boxes with info and text */ 

        .random-info {
            display: flex; 
            justify-content: center;
            align-items: center;
            flex-flow: wrap;
            background-color: white;
            color: #1f2937;
            padding: 50px; 
            border: 10px; 
            gap: 30px; 
            }

                    .box-items {
                    width: 150px;
                    height: 150px; 
                    background-color: white;
                    border: 2px solid blue;
                    border-radius: 25px;
                    color: white;
                  }
                  .text {
                    text-align: center;
                  }
                   

.item { 
  width: 150px; 
  height: 150px; 
  display: flex; 
  flex-wrap: wrap; 
  flex-direction: row; 
  justify-content: center;
  padding: 8px; 
  gap: 8px; 
}

/* Quote Section - quote and author */ 

                  .quote-section {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: E5E7EB;
                   
                    color: #1f2937;
                    padding: 120px; 
                    }

                    .quote-text { 
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-flow: wrap row;

                        
                        font-size: 36px;
                        font-style: italic;
                        font-weight: lighter; 
                        color: #1F2937; 
                    }

/* Call to Action Section - sign up module */ 

                    .action-section {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: white;
                    
                        color: #1f2937;
                      
                        }
    
                        .action-text { 
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-flow: wrap row;
                            background-color: #3882f6;
                            color: white;

                 
                        }


                       
                        .action-button {
                        border: 2px solid white;   
                        }

/* Footer Section - copyright */ 

                        .footer {
                          display: flex;
                          align-content: center;
                          justify-content: center;
                          background-color: #1f2937;
                          color: white; 
                         
                        }