
/* Generic/global attribute section*/ 


body {
  display:flex; 
  flex-direction: column;
  font-family: roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI'; 
}
button {
  background-color: #3882f6;
  color: white; 
  border-radius: 15px;
}
h1 { 
  align-self: center;
 
}

p {
  margin: 0; 
}

h3 { 
  margin: 0; 
}

text { 
  font-family: roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Class section*/

/* Section 1*/ 
  
.section1 { 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
    }

/* Header - right link and left logo */ 

    .header {
      display: flex;
      justify-content: space-around;
      background-color: #1f2937;
      }
      .logo {
        padding: 15px; 
        background-color: #1f2937;
        font-size: 24px;
        color: #f9faf8;
        font-weight: bolder; 
      }

      .hyperlinks-container {
        display: flex;
        flex-flow: row wrap; 
        align-items: flex-start;
        background-color: #1f2937;
        gap: 5px;
        border: 10px;
      }

        .link {
          width: 88px;
          background-color: #1f2937;
          padding: 15px;
          color: white;
        }

/* Hero Section - hero text and right logo */ 

   .hero-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #1f2937;
        color: white;
        }

        .hero-picture {
         
        }

        .hero-text { 
          font-weight: extra-bold;
          color: #f9faf8;
           width: 350px; 
        }


/* Section 2 - boxes with info and text */ 

        .random-info {
            display: flex; 
            justify-content: center;
            align-items: center;
           
            background-color: white;
            color: #1f2937;
            padding: 70px; 
            border: 10px; 
            gap: 30px; 
            }

                    .box-items {
                    width: 150px;
                    height: 150px; 
                    background-color: white;
                    border: 2px solid blue;
                    border-radius: 25px;
                    color: white;
                  }
                  .text {
                    text-align: center;
                  }
                   

.item { 
  width: 150px; 
  height: 150px; 
  display: flex; 
  flex-wrap: wrap; 
  flex-direction: row; 
  justify-content: center;
  padding: 8px; 
  gap: 8px; 
}

/* Quote Section - quote and author */ 

                  .quote-section {
                    display: flex;
                    color: #1f2937;
                    padding: 120px; 
                    background-color: #e5e7eb;
                    }

                    .quote-text { 
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-flow: wrap row;
                        font-size: 36px;
                        font-style: italic;
                        font-weight: lighter; 
                        color: #1F2937; 
                    }

/* Call to Action Section - sign up module */ 

                    .action-section {
                        display: flex;
                        justify-content: center;
                        background-color: white;
                        
                        }
    
                        .action-module {
                          display: flex;
                          justify-content: center;
                          align-content: center;
                          flex-flow: wrap ;
                          background-color: #3882f6;
                          border-radius: 25px;
                          margin: 100px; 
                          
                        }
                      
                        .action-text { 
                            display: flex;
                            justify-content: center;
                            flex-flow: wrap column;
                            padding: 25px; 
                            background-color: #3882f6;
                            color: white;
                            border-radius: 25px;
                            
                        }

                        .action-button {
                        border: 2px solid white;  
                        align-self: center;  
                        align-item: right; 
                        margin: 50px; 
                        }

/* Footer Section - copyright */ 

                        .footer {
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          background-color: #1f2937;
                          color: white; 
                          height: 100px; 
                        }